@{
    ViewData["Title"] = "Home Page";
}

<div id="app">
    <div class="betting-container">
        <div v-for="item in items" class="">
            <h1>{{item.title}}</h1>

        </div>
    </div>


</div>

